<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}TranslaTUM Bioinformatics Workbench{% endblock %}</title>
</head>
<body>
  <!--  -->
  <header>
    <h1>My Site</h1>
      <a href="{% url 'home' %}">Home </a>
      {% if user.is_authenticated %}
        <a href="{% url 'password_change' %}">Change password </a>
        <a href="{% url 'logout' %}">Log out </a>
        <strong> You are logged in as {{ user.username }} </strong>
      {% else %}
        <a href="{% url 'signup' %}">Sign up </a>
        <a href="{% url 'login' %}">Log in </a>
      {% endif %}
    <hr>
  </header>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>